<div class="min-h-screen bg-gray-100 py-6 flex flex-col justify-end sm:py-12">
  <div class="relative py-3 sm:max-w-xl sm:mx-auto">
    <div class="relative px-4 py-10 bg-white shadow-lg sm:rounded-3xl sm:p-20">
      <div class="max-w-md mx-auto" style="height: 400px">
        <div class="divide-y divide-gray-200">
          <h1 class="text-center font-bold uppercase italic text-4xl">Piggy Bank App</h1>
          <div class="py-8 text-base leading-6 space-y-4 text-gray-700 sm:text-lg sm:leading-7 mt-40">
            <% if user_signed_in? %>
              <div class="flex justify-center items-center w-full">
                <%= button_to 'Log Out', destroy_user_session_path, method: :delete,class: "border border-indigo-900 rounded-lg text-center text-indigo-900 bg-white text-base font-semibold py-4 px-10" %>
              </div>
            <%  else  %>
              <div class="flex">
                <%=  link_to 'Log In', user_session_path, class: "bg-indigo-900 rounded-lg shadow text-center text-white text-base font-semibold w-full py-3"  %></div>
              <div class="flex">
                <%=  link_to 'Sign Up', new_user_registration_path, class: "border border-indigo-900 rounded-lg  text-center text-indigo-900 bg-white text-base font-semibold w-full py-3"  %>
              </div>
            <%  end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
